<!DOCTYPE html>
<html>
<head>
    <title>Currency Exchange Rates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Currency Exchange Rates</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Currency</th>
                    <th>Exchange Rates</th>
                </tr>
            </thead>
            <tbody id="exchangeRatesTableBody">
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://api.exchangerate.host/latest",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data.rates, function (key, value) {
                        var row = "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
                        $("#exchangeRatesTableBody").append(row);
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error: " + errorThrown);
                }
            });
        });
    </script>
</body>
</html>
